/*************************************************
Author: Nipun Arora
Custom css for my website nipunarora.net
 **************************************************/

 a,
 a:visited,
 h3.article-title a:hover {
  /*color: #CD5C5C;*/
  /*color: #808080;*/
  color: #000000;
  font-style: italic;
 }



 a:hover,
 .pub-list-item .pub-authors,
 .pub-list-item .pub-publication {
   color: #808080;
 }

 p a{
   text-decoration: underline;
 }


.navbar-default {
  /*background: #4169E1;dodger blue*/
  /*background: #CD5C5C;/*indian red*/
  background: #000000;
  /*background: #008080; teal*/
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

.home-section {
  /*background-color: #FFFFF0; cream*/
  background-color: #FFFFF;/*white*/
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}


.navbar-default .navbar-brand {
  color: #ffffff;
  background-color: transparent !important;
  font-style: italic;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  /*color: #2F4F4F;*/
  color: #ffffff;
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

nav#navbar-main li {
  font-size: 18px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #ffffff;
  font-weight: 600;
}


h1 {
  color: #000000;
}


h5 {
  font-family: "Impact";
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
  color: #000000;
  /*color: #CD5C5C;/*indian red*/
}

.btn-primary {
  border-color: #000000;
  background: #ffffff;
}

.btn-primary.btn-outline {
  color: #000000;
  border-color: #000000;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
  background: #808080;
}

/***
*Publication
***/

.pub-list-item .pub-authors {
  font-family: Georgia;
  font-style:italic;
}
