/*************************************************
Author: Nipun Arora
Custom css for my website nipunarora.net
 **************************************************/


 a,
 a:visited,
 h3.article-title a:hover {
     color: #CD5C5C;
 }

 p a{
   text-decoration: underline;
 }

.navbar-default {
  /*background: #4169E1;dodger blue*/
  background: #CD5C5C;/*indian red*/
  /*background: #008080; teal*/
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

.home-section {
  /*background-color: #FFFFF0; cream*/
  background-color: #FFFFF;/*white*/
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #2F4F4F;
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

nav#navbar-main li {
  font-size: 18px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #fff;
  font-weight: 600;
}

h1 {
  color: #CD5C5C;
}

h5 {
  font-family: "Impact";
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
  color: #CD5C5C;
}
